body {
  font-family: ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Avenir", "Avenir Next", "Helvetica Neue", "Lucida Grande", sans-serif;
}

p {
  line-height: 1.4;
}

.main-content {
  font-size: 18px;
  font-size: 1.1rem;
}

.bulletless {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer {
  font-family: monospace;
  font-size: 1.1em;
}

/* link stylezzzz */
a {
  color: #111;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #0074D9;
}

.main-content a {
  border-bottom-width: 4px;
}

footer a {
  border-bottom-width: 2px;
}

a:hover,
a:focus,
a:active {
  color: #0074D9;
}

a:active  {
  transition: color .3s;
}
